{% extends 'menu-nav.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/notice.css' %}">

{% endblock %}

{% block content %}
<div class="container">

  <div class="notice-posts">
    
    {% for notice in notices %}
      
    
      
    <div class="notice-post">
      <p class='title'>{{notice.title}}</p>
      <pre class='content'>{{notice.content}}</pre>
      <p class='writer'>{{notice.student_id.student_generation}} {{notice.student_id.student_name}} {{notice.pub_date}}</p>
    </div>
    {% endfor %}
      
    <div class="notice-post">
      <p class='title'>🦁 6월 17일부터 멋사 9기 활동을 다시 시작합니다!!</p>
      <p class='content'>
        1. 날짜: 6월 17일 저녁 7시 30분<br>
        2. 활동 내용: 웹 아이디어 발표,아이디어톤 조 구성<br>
        3. 과제: 아이디어 한 개 이상 준비해오기, 아이디어를 소개하는 ppt 만들어오기(발표 때 사용할 예정)<br>
        <br>
        · 발표 시간은 1인당 3분 내외<br>
        · 이번에 나오는 아이디어로 아이디어톤 대회에 참가할 예정<br>
        · 아이디어톤 참가에 희망하지 않는 사람들도 발표할 예정이니 준비 필수<br>
      </p>
      <p class='writer'>경상대 멋사 8기 김가은 · 5일 전</p>
    </div>
    <div class="notice-post">
      <p class='title'>🦁 6월 17일부터 멋사 9기 활동을 다시 시작합니다!!</p>
      <p class='content'>
        1. 날짜: 6월 17일 저녁 7시 30분<br>
        2. 활동 내용: 웹 아이디어 발표,아이디어톤 조 구성<br>
        3. 과제: 아이디어 한 개 이상 준비해오기, 아이디어를 소개하는 ppt 만들어오기(발표 때 사용할 예정)<br>
        <br>
        · 발표 시간은 1인당 3분 내외<br>
        · 이번에 나오는 아이디어로 아이디어톤 대회에 참가할 예정<br>
        · 아이디어톤 참가에 희망하지 않는 사람들도 발표할 예정이니 준비 필수<br>
      </p>
      <p class='writer'>경상대 멋사 8기 김가은 · 5일 전</p>
    </div>
    <div class="notice-post">
      <p class='title'>🦁 6월 17일부터 멋사 9기 활동을 다시 시작합니다!!</p>
      <p class='content'>
        1. 날짜: 6월 17일 저녁 7시 30분<br>
        2. 활동 내용: 웹 아이디어 발표,아이디어톤 조 구성<br>
        3. 과제: 아이디어 한 개 이상 준비해오기, 아이디어를 소개하는 ppt 만들어오기(발표 때 사용할 예정)<br>
        <br>
        · 발표 시간은 1인당 3분 내외<br>
        · 이번에 나오는 아이디어로 아이디어톤 대회에 참가할 예정<br>
        · 아이디어톤 참가에 희망하지 않는 사람들도 발표할 예정이니 준비 필수<br>
      </p>
      <p class='writer'>경상대 멋사 8기 김가은 · 5일 전</p>
    </div>
    <div class="notice-post">
      <p class='title'>🦁 6월 17일부터 멋사 9기 활동을 다시 시작합니다!!</p>
      <p class='content'>
        1. 날짜: 6월 17일 저녁 7시 30분<br>
        2. 활동 내용: 웹 아이디어 발표,아이디어톤 조 구성<br>
        3. 과제: 아이디어 한 개 이상 준비해오기, 아이디어를 소개하는 ppt 만들어오기(발표 때 사용할 예정)<br>
        <br>
        · 발표 시간은 1인당 3분 내외<br>
        · 이번에 나오는 아이디어로 아이디어톤 대회에 참가할 예정<br>
        · 아이디어톤 참가에 희망하지 않는 사람들도 발표할 예정이니 준비 필수<br>
      </p>
      <p class='writer'>경상대 멋사 8기 김가은 · 5일 전</p>
    </div>
    <div class="notice-post">
      <p class='title'>🦁 6월 17일부터 멋사 9기 활동을 다시 시작합니다!!</p>
      <p class='content'>
        1. 날짜: 6월 17일 저녁 7시 30분<br>
        2. 활동 내용: 웹 아이디어 발표,아이디어톤 조 구성<br>
        3. 과제: 아이디어 한 개 이상 준비해오기, 아이디어를 소개하는 ppt 만들어오기(발표 때 사용할 예정)<br>
        <br>
        · 발표 시간은 1인당 3분 내외<br>
        · 이번에 나오는 아이디어로 아이디어톤 대회에 참가할 예정<br>
        · 아이디어톤 참가에 희망하지 않는 사람들도 발표할 예정이니 준비 필수<br>
      </p>
      <p class='writer'>경상대 멋사 8기 김가은 · 5일 전</p>
    </div>
  </div>
  <button class="create-btn" onclick="location.href='{% url 'noticeWrite' %}'">
    <span>+</span>
  </button>
</div>
{% endblock %}