{% extends 'menu-nav.html' %}
{% load static %}

{% block head %}
<title>Notice</title>
<link rel="stylesheet" href="{% static 'css/notice-main.css' %}">
{% endblock %}

{% block content %}
<div class="login-alarm">
  <img src="{% static 'img/likelion-logo-mini.png' %}" alt="">

  <div class="greeting">
    <span class="uni">{{me.uni_num.uni_name}} 멋쟁이사자처럼</span>
    <span class="st-info">{{me.student_generation}}기 {{me.student_name}}님, 안녕하세요😀</span>
  </div>
</div>

<div class="container">
  <div class="notice-posts">

    {% for notice in notices %}
    <div class="notice-post">
      <p class='title'>{{notice.title}}</p>
      <pre class='content'>{{notice.content}}</pre>
      <p class='writer'>{{notice.student_id.uni_num.uni_name}} 멋사 {{notice.student_id.student_generation}}기 {{notice.student_id.student_name}} · {{notice.diff_days}}</p>
    </div>
    {% endfor %}

    <div class="notice-post">
      <p class='title'>😀 오늘 저녁 7시 30분에 세션 있습니다!</p>
      <p class='content'>
        · 아이디어 발표 준비해서 오기<br>
      </p>
      <p class='writer'>경상대 멋사 8기 김가은 · 6 일 전</p>
    </div>

    <div class="notice-post">
      <p class='title'>🦁 6월 17일부터 멋사 9기 활동을 다시 시작합니다!!</p>
      <p class='content'>
        
        1. 날짜: 6월 17일 저녁 7시 30분<Br>
        2. 활동 내용: 웹 아이디어 발표,아이디어톤 조 구성<Br>
        3. 과제: 아이디어 한 개 이상 준비해오기, 아이디어를 소개하는   ppt 만들어오기(발표때 사용할 예정)<Br><br>
        
        · 발표 시간은 1인당 3분 내외<Br>
        · 이번에 나오는 아이디어로 아이디어톤 대회에 참가할 예정<Br>
        · 아이디어톤 참가에 희망하지 않는 사람들도 발표할 예정이니 준비 필수>
      </p>
      <p class='writer'>경상대 멋사 8기 김가은 · 14 일 전</p>
    </div>
    
    <div class="notice-post">
      <p class='title'>💡 이번주 과제 💡</p>
      <p class='content'>
        
        · 지난번에 만들었던 지원서 프로젝트에 이어서 CSS를 간단히 적용하여 꾸미고 오늘 했던 배포까지 해오시면 됩니다!<br>
        · 시간이 남으시면 CRUD까지 포함해오시면 더 좋습니다 🙂<br>
      </p>
      <p class='writer'>경상대 멋사 8기 박지은 · 27 일 전</p>
    </div>

    <div class="notice-post">
      <p class='title'>🦁 5월 10일 수업 과제</p>
      <p class='content'>
        1. 클래스라이언 강의 들어오기(CRUD-update~Form까지)<br>
        2. !새로! 프로젝트 만들어서 CRUD추가해오기! forms.Form과정은 생략하고 바로 forms.ModleForm쓰셔도 됩니다! 단, 변수랑 클래스명은 바꿔서 쓰셔야 합니다!<br>
        3. static files을 이용해 css연결해서 간단한 css 추가해오기(여유가된다면 많이꾸미셔도 됩니다!)  <br>
      </p>
      <p class='writer'>경상대 멋사 8기 조승한 · 1달 전</p>
    </div>

    <div class="notice-post">
      <p class='title'>🦁 5월 3일 수업 과제</p>
      <p class='content'>
        1.클래스 라이언 강의 들어오기 :django와 데이터베이스 ~ crud creat강의까지 총 4개 들어오기 <br>
        2. 오늘 배운것을 토대로 블로그 새로 다시 만들어오기! 단, 클래스명, 변수 이름 바꿔서 만들어오기!(꾸미는 것에 신경 안쓰고 레이아웃 정도만 만들어오기) <br>
        멘토멘티가 정해졌습니다! 과제하다 궁금한 거 있으면 언제든지 멘토한테 물어봐주세용~<br><br>
        · 초연, 규영 : 승한<br>
        · 승백, 재성 : 다혜 <br>
        · 규동, 소열 : 지은 <br>
        · 도연, 나영 : 동현 <br>
        · 유경, 서연 : 가은 
      </p>
      <p class='writer'>경상대 멋사 8기 이다혜 · 2달 전</p>
    </div>

    <div class="notice-post">
      <p class='title'>🦁 [04.29(월) 5번째 세션 과제 공지]</p>
      <p class='content'>
        · 오늘 배운 Django를 활용해서 첫번째 세션의 과제였던 "여행하고 싶은 곳에 대한 소개페이지"를 서버 구동을 통해 브라우저에 띄우기<br>
        · 단, 오늘까지 배운 내용으로는 다른 html 파일 또는 CSS, 이미지 파일 등을 활용할 수 없으니 index.html을 대체하는 하나의 페이지만 작성해주시면 됩니다.<br>
        · 추가로 오늘 배운 내용은 classlion의 "Django 실습 [1]" 강의와 매우 흡사하니 강의를 통해 정리하는 시간을 가져보시면 좋을 것 같습니다~<br>
      </p>
      <p class='writer'>경상대 멋사 8기 김동현 · 3달 전</p>
    </div>

    <div class="notice-post">
      <p class='title'>🦁 안녕하세요! 경상대 멋사 9기로 함께하게 되어서 반갑습니다.</p>
      <p class='content'>
        1. 경상대 멋쟁이사자처럼 비대면 OT<br>
        - 일정 : 3월 25일 목요일 저녁 7시<br>
        - 유형 : 줌(ZOOM)으로 진행될 예정 / 원활한 진행을 위해 시간과 환경에 유의해주시길 바랍니다.<br>
        <br>
        2. 과제
        - CODECADEMY (https://www.codecademy.com/)<br>
        - 범위 : HTML의 pro를 제외한 모든 부분<br>
        - 과제에 관련한 자료를 드리니 참고하시고 모두 OT전까지 해오셔야 합니다 😉<br>
        과제가 양이 많을 수 있습니다..! 그러니 꼭! 미리 과제를 확인하셔서 OT 전까지 못하시는 일이 없길 바랍니다.
      </p>
      <p class='writer'>경상대 멋사 8기 박지은 · 3달 전</p>
    </div>
  </div>

  <button class="create-btn" onclick="location.href='{% url 'noticeWrite' %}'">
    <span>+</span>
  </button>
</div>
{% endblock %}