{% extends 'write-nav.html' %}
{% load static %}

<script src="{% static 'js/project-write.js' %}"></script>
{% block link %}
<link rel="stylesheet" href="{% static 'css/project-write.css' %}">
<script type="text/javascript" src="{% static 'js/project-write.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" id="done">
  {% csrf_token %}
  <div class="divupload">
    <label for="file_name" class="file">
      <i class="fas fa-camera fa-7x"></i>
    </label>
  </div>

  <!--Input태그 입력-->
  <input class="upload" type="file" name="img" id="file_name" class="upload-hidden">
  <input type="text" class="write_input" placeholder="서비스 이름" name="title">
  <input type="text" class="write_input" placeholder="서비스 소개" name="introduction">
  <input type="text" class="write_input" placeholder="함께한 사람들" name="developer">
  <input type="text" class="write_input" placeholder="개발 기간" name="dev_period">
  <input type="text" class="write_input" placeholder="개발 스택" name="dev_stack">
  <input type="text" class="write_input_last" placeholder="참고 자료" name="ref"><br>

  <!--개발 상태 버튼-->
  <input type="radio" class="state-btn-developing" value="개발중" name="state" id="btn_developing"><label for="btn_developing" class="explain_developing">개발중</label>
  <input type="radio" class="state-btn-developing" value="개발 완료" name="state" id="btn_developed"><label for="btn_developed" class="explain_developed">개발 완료</label>
</form>
{% endblock %}