{% extends 'detail-nav.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/qna-detail.css' %}">
{% endblock %}

{% block content %}

{% if qna %}

<div class="container">
  <!--질문 이미지-->
  <img src="{{ qna.file.url }}"
    alt="!Notfounded">

  <!--질문자와 질문 내용-->
  <div class='writer'>죠르디, 2일전</div>
  <div class="question">{{ qna.title }}</div>

  <!--해시태그-->
  <div class="hashtag2">
    <button type="button" onclick="location.href=''" class="hashtag">#{{ qna.hashtag1 }}</button>
    <button type="button" onclick="location.href=''" class="hashtag">#{{ qna.hashtag2 }}</button>
  </div>

  <!--내용-->
  <div class="contents">
    {{ qna.content }}
  </div>

  <!--답변-->
  <div class="answer">
    <div><i class="far fa-comment-dots" fa-10x></i> 답변 7</div>
  </div>

  <!--댓글 기능-->

  
  <div class="comments">
    {% for comment in comments %}
    <div class="comment">
      <div class="recommend">
        <i class="fas fa-chevron-up"></i>
        {{comment.like_num}}
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="comment-writer">
        익명
        <div class="comment-contents">
          {{comment.answer}}
        </div>
       
        <div class="recomment">답글쓰기</div>
      </div>
    </div>
    {% endfor %}

    <div class="comment">
      <div class="recommend">
        <i class="fas fa-chevron-up"></i>
        5
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="comment-writer">
        동현이형
        <div class="comment-contents">
      
        </div>
        <div class="recomment">답글쓰기</div>
      </div>
    </div>
  </div>

  <div class="writing">
    <form method="post" enctype="multipart/form-data" id="done" action="{% url 'commentWrite' %}">
      {% csrf_token %}
    <input type="hidden" value="{{ qna.id }}" name="id">
    <input type="text" class="input_content" placeholder="답변을 입력해주세요:)" name="answer">
    <button type="submit" class="submit_btn" form="done">제출</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}