{% extends 'menu-nav.html' %}
{% load static %}

{% block head %}
<title>QnA</title>
<link rel="stylesheet" href="{% static 'css/qna-main.css' %}">
{% endblock %}

{% block content %}
<div class="container">

  {% if session %}
  <header class="title">{{session.session_title}}</header>
  {% else %}
  <header class="title not_exist">세션 준비중</header>
  {% endif %}


  {% if qnas %}
  <ul class="qna-container">
    {% for qna in qnas %}

    <li class="question" onclick="location.href='{% url 'qnaDetail' qna.id %}'">
      <img src="{{ qna.file.url }}" alt="!Notfounded">
      <div class="content">
        <div class='writer-and-date'>{{qna.session_id.student_id.student_name}} · {{qna.pub_date}}</div>
        <div class="question__title">{{qna.title}}</div>
        <div class="hashtags">
          <button type="button" onclick="location.href=''" class="hashtag">#{{ qna.hashtag1 }}</button>
          <button type="button" onclick="location.href=''" class="hashtag">#{{ qna.hashtag2 }}</button>
        </div>
        <div class="question__body">
          {{qna.content}}
        </div>
        <div class="answer">
          <div>
            <i class="far fa-comment-dots" fa-10x></i>
            <span class="answer__num">답변 7</span>
          </div>
          <div class="state">해결 중</div>
        </div>
      </div>
    </li>
    {% endfor %}

  </ul>

  {% endif %}

  {% if session.session_num %}
  <button class="qna-btn" onclick="location.href='{% url 'qnaWrite' session.session_num %}'">질문하기</button>
  {% endif %}
  <div class="nav-bottom">
    <button class="pre-btn" onclick="history.back()">
      <span>
        < </span>
    </button>
<ul class="nav-bottom-real">
  {% for i in range %}

    <li class="" id="nav_order{{ i }}">
      <div class="" id="nav_dot{{ i }}"></div>
      <span onclick="location.href='{% url 'qnaMain' i %}'">
        {% if i > 3 %} {{ i }}th {% endif %}
        {% if i == 3 %} {{ i }}rd {% endif %}
        {% if i == 2 %} {{ i }}nd {% endif %}
        {% if i == 1 %} {{ i }}st {% endif %}
      </span>
    </li>
    {% endfor %} 
    <script>
    for (var i =1 ; i < 11; i++){
      if ({{ session.session_num }} == i ){
        var orderId = 'nav_order'+{{ session.session_num }};
        var dotId = 'nav_dot'+{{ session.session_num }};
        var nav_order2 = document.getElementById(orderId);
        var nav_dot2 = document.getElementById(dotId);
        nav_order2.classList.add('nav-bottom-active');
        nav_dot2.classList.add('selected-mark');
      }
    }
    </script>

  
  </ul>

  </div>
{% endblock %}