{% extends 'detail-nav.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/qna-detail.css' %}">
{% endblock %}

{% block content %}
{% if qna %}
<div class="container">
  <img src="{{ qna.file.url }}" alt="!Notfounded">

  <div class="question">
    <div class='writer-and-date'>죠르디 · {{qna.pub_date}}</div>
    <div class="question__title">{{qna.title}}</div>
    <div class="hashtags">
      <button class="hashtag">#{{ qna.hashtag1 }}</button>
      <button class="hashtag">#{{ qna.hashtag2 }}</button>
    </div>
    <div class="question__body">
      {{qna.content}}
    </div>
  </div>

  <div class="answer">
    <i class="far fa-comment-dots" fa-10x></i>
    <span class="answer__num">답변 7</span>
  </div>

  
  <ul class="comments">
    {% for comment in comments %}
    <li class="comment">
      <div class="recommend">
        <i class="fas fa-caret-up"></i>
        <span class="recommend-num selected">{{comment.like_num}}</span>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="comment__content">
        <span class="comment__writer-and-date selected">{{me.student_name}}</span>
        <p class="comment__body">
          {{comment.answer}}
        </p>
        <div class="recomment">답글쓰기</div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <form class="writing" id="done" action="{% url 'commentWrite' qna.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="{{ qna.id }}" name="id">
    <input type="text" placeholder="답변을 입력해주세요:)" name="answer">
    <button type="submit" form="done">
      <i class="fas fa-arrow-circle-up"></i>
    </button>
  </form>
</div>
{% endif %}
{% endblock %}