{% extends 'menu-nav.html' %}
{% load static %}

{% block head %}
<title>QnA</title>
<link rel="stylesheet" href="{% static 'css/qna-main.css' %}">
{% endblock %}

{% block content %}
<div class="container">

  {% if session %}
  <header class="title">{{session.session_title}}</header>
  {% else %}
  <header class="title not_exist">세션 준비중</header>
  {% endif %}


  {% if qnas %}
  <ul class="qna-container">
    {% for qna in qnas %}

    <li class="question" onclick="location.href='{% url 'qnaDetail' qna.id %}'">
      <img src="{{ qna.file.url }}" alt="!Notfounded">
      <div class="content">
        <div class='writer-and-date'>{{qna.session_id.student_id.student_name}} · {{qna.pub_date}}</div>
        <div class="question__title">{{qna.title}}</div>
        <div class="hashtags">
          <button type="button" onclick="location.href=''" class="hashtag">#{{ qna.hashtag1 }}</button>
          <button type="button" onclick="location.href=''" class="hashtag">#{{ qna.hashtag2 }}</button>
        </div>
        <div class="question__body">
          {{qna.content}}
        </div>
        <div class="answer">
          <div>
            <i class="far fa-comment-dots" fa-10x></i>
            <span class="answer__num">답변 7</span>
          </div>
          <div class="state">해결 중</div>
        </div>
      </div>
    </li>
    {% endfor %}

  </ul>

  {% endif %}

  {% if session.session_num %}
  <button class="qna-btn" onclick="location.href='{% url 'qnaWrite' session.session_num %}'">질문하기</button>
  {% endif %}
</div>

<div class="nav-bottom">
  <button class="pre-btn" onclick="history.back()">
    <span>
      < </span>
  </button>
  <ul class="nav-bottom-real">

    <li class="{% if request.get_full_path == " /qna/main/10/" %}nav-bottom-active10{% else %}nav-bottom-inactive{% endif %}">
      {% if request.get_full_path == "/qna/main/10/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 10 %}'">10th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/9/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif %}">
      {% if request.get_full_path == "/qna/main/9/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 9 %}'">9th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/8/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif %}">
      {% if request.get_full_path == "/qna/main/8/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 8 %}'">8th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/7/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif %}">
      {% if request.get_full_path == "/qna/main/7/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 7 %}'">7th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/6/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif %}">
      {% if request.get_full_path == "/qna/main/6/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 6 %}'">6th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/5/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif %}">
      {% if request.get_full_path == "/qna/main/5/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 5 %}'">5th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/4/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif %}">
      {% if request.get_full_path == "/qna/main/4/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 4 %}'">4th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/3/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif
      %}">
      {% if request.get_full_path == "/qna/main/3/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 3 %}'">3th</span></li>

    <li class="{% if request.get_full_path == " /qna/main/2/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif
      %}">
      {% if request.get_full_path == "/qna/main/2/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 2 %}'">2rd</span></li>

    <li class="{% if request.get_full_path == " /qna/main/1/" %}nav-bottom-active{% else %}nav-bottom-inactive{% endif
      %}">
      {% if request.get_full_path == "/qna/main/1/" %}<div class="selected-mark"></div>{% endif %}<span
        onclick="location.href='{% url 'qnaMain' 1 %}'">1nd</span></li>

  </ul>
</div>
{% endblock %}