{% extends 'detail-nav.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/qna-detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <!--질문 이미지-->
  <img src="https://pbs.twimg.com/ext_tw_video_thumb/1296265336451297282/pu/img/pYR6OO89b0kKWCQS.jpg:small"
    alt="!Notfounded">

  <!--질문자와 질문 내용-->
  <div class='writer'>죠르디, 2일전</div>
  <div class="question">카카오프렌즈 죠르디 귀여워</div>

  <!--해시태그-->
  <div class="hashtag2">
    <!--{% for hashtag in hashtags %}-->
    <button type="button" onclick="location.href=''" class="hashtag">#migrate</button>
    <button type="button" onclick="location.href=''" class="hashtag">#kakao</button>
    <!--{% endfor %}-->
  </div>

  <!--내용-->
  <div class="contents">
    Ooh-ooh, hey, yeah
    Hmm, yeah, psycho
    널 어쩌면 좋을까
    이런 맘은 또 첨이라
    Up and down 이 좀 심해
    조절이 자꾸 잘 안돼
    하나 확실한 건 I don't play the game
    우리 진짜 별나대
    그냥 내가 너무 좋아해
    넌 그걸 너무 잘 알고
    날 쥐락펴락해
    나도 마찬가지인걸 (Oh-oh-oh)
    우린 참 별나고 이상한 사이야
    서로를 부서지게 (부서지게)
    그리곤 또 껴안아 (그리곤 또 껴안아)
    You got me feeling like a psycho, psycho
    우릴 보고 말해 자꾸, 자꾸
    다시 안 볼 듯 싸우다가도
    붙어 다니니 말야
    이해가 안 간대
    웃기지도 않대
    맞아 Psycho, psycho (Psycho, psycho)
    서로 좋아 죽는 바보 바보 (바보, 바보)
    너 없인 어지럽고 슬퍼져
    기운도 막 없어요
    둘이 잘 만났대
    Hey, now we'll be okay
    Hey, trouble경고 따윈 없이 오는 너
    I'm original, visual 우린 원래 이랬어, yeah
    두렵지는 않아 (흥미로울 뿐)
    It's hot! Let me just hop
    어떻게 널 다룰까? Ooh, ooh, ooh
    어쩔 줄을 몰라 너를 달래고
    매섭게 발로 차도
    가끔 내게 미소 짓는 널
    어떻게 놓겠어? Ooh, ooh
    우린 아름답고 참 슬픈 사이야
    서로를 빛나게 해 (Tell me now)
    마치 달과 강처럼 (그리곤 또 껴안아, Yeah)
    You got me feeling like a psycho, psycho
    우릴 보고 말해 자꾸, 자꾸
    다시 안 볼 듯 싸우다가도
    붙어 다니니…
  </div>

  <!--답변-->
  <div class="answer">
    <div><i class="far fa-comment-dots" fa-10x></i> 답변 7</div>
  </div>

  <!--댓글 기능-->
  <div class="comments">
    <div class="comment">
      <div class="recommend">
        <i class="fas fa-chevron-up"></i>
        7
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="comment-writer">
        지은누나
        <div class="comment-contents">
          울려댔어 사이렌
          텅 빈 길거린엔
          도망치다 흘린 칼자루와 피가 흥건해
          우리 그때 어릴땐
          뭘 몰랐었지 man
          그냥 힘쎈 형이 제일로 멋졌었지 그땐
          그래 우린 살아나왔어 지옥
          이제 어딜가든 다 비옥
          수도 없이 맛본 치욕
          어릴때부터 입에 붙은 쌍욕
        </div>
        <div class="recomment">답글쓰기</div>
      </div>
    </div>

    <div class="comment">
      <div class="recommend">
        <i class="fas fa-chevron-up"></i>
        5
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="comment-writer">
        동현이형
        <div class="comment-contents">
          Don't worry 'bout me.
          오지랖 떨지 말고 신경 꺼.
          온 세상이 날 등져도
          I don't give a fuck.
          God is watchin' over me,
          나 죽을 일 없어.
          내 걱정은 세상에서 제일 쓸데없는 짓.
          부정적인 shit, man I ain't got time.
          썸머소닉 to 코첼라, 글라스톤베리가 다음.
          일상이 축제니까 감사하기도 바빠.
          Middle finger to the Devil, stop fuckin' up my vibe!
        </div>
        <div class="recomment">답글쓰기</div>
      </div>
    </div>
  </div>

  <div class="writing">
    <i class="far fa-image fa-5x"></i>
    <input type="text" class="input_content" placeholder="답변을 입력해주세요:)">
  </div>
</div>
{% endblock %}