{% extends 'menu-nav.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/qna-main.css' %}">
{% endblock %}

{% block content %}
<!-- QNA -->
<h1>Django 폼을 활용한 CRUD</h1>
<div class="container">
  <div class="qnacontent">
    <a href="{% url 'qnaDetail' %}">
    <!--질문영역-->
    <div class="main">
      <!--질문 이미지-->
      <img src="https://pbs.twimg.com/ext_tw_video_thumb/1296265336451297282/pu/img/pYR6OO89b0kKWCQS.jpg:small"
        alt="!Notfounded">

      <!--질문자와 질문 내용-->
      <div class='writer'>죠르디, 2일전</div>
      <div class="question">카카오프렌즈 죠르디 귀여워</div>

      <!--해시태그-->
      <div class="hashtag2">
        <!--{% for hashtag in hashtags %}-->
        <!--{% endfor %}-->
        <button type="button" onclick="location.href=''" class="hashtag">#migrate</button>
        <button type="button" onclick="location.href=''" class="hashtag">#kakao</button>
      </div>
    
      <!--내용-->
      <div class="contents">
        빨-빨-빨간 맛, 궁금해 honey
        깨물면 점점 녹아든 strawberry 그 맛
        Corner candy shop 찾아봐 baby
        내가 제일 좋아하는 건 여름 그 맛
        야자나무 그늘 아래 졸고 싶고
        뜨거운 여름밤의 바람은 불고
        너무 쉽게 사랑 빠져 버릴 nineteen
        우린 제법 어울리고 또 멋져
        좋아 첫 눈에 반해 버린
        네가 자꾸만 생각나
        내 방식대로 갈래
        빨-빨-빨간 맛, 궁금해 honey
        깨물면 점점 녹아든 strawberry 그 맛
        일곱 개의 무지갯빛 문을 열어
        너의 세상은 짜릿해 멋있어, mmh
      </div>

      <!--답변-->
      <div class="answer">
        <div><i class="far fa-comment-dots" fa-10x></i> 답변 7</div>
        <div class="solve">해결 중</div>
      </div>
    </div>
    </a>

  <a href="{% url 'qnaDetail' %}">
      <!--질문영역-->
      <div class="main">
        <!--질문 이미지-->
        <img src="https://pbs.twimg.com/ext_tw_video_thumb/1296265336451297282/pu/img/pYR6OO89b0kKWCQS.jpg:small"
          alt="!Notfounded">
  
        <!--질문자와 질문 내용-->
        <div class='writer'>죠르디, 2일전</div>
        <div class="question">카카오프렌즈 죠르디 귀여워</div>
  
        <!--해시태그-->
        <div class="hashtag2">
          <!--{% for hashtag in hashtags %}-->
          <!--{% endfor %}-->
          <button type="button" onclick="location.href=''" class="hashtag">#migrate</button>
          <button type="button" onclick="location.href=''" class="hashtag">#kakao</button>
        </div>
      
        <!--내용-->
        <div class="contents">
          빨-빨-빨간 맛, 궁금해 honey
          깨물면 점점 녹아든 strawberry 그 맛
          Corner candy shop 찾아봐 baby
          내가 제일 좋아하는 건 여름 그 맛
          야자나무 그늘 아래 졸고 싶고
          뜨거운 여름밤의 바람은 불고
          너무 쉽게 사랑 빠져 버릴 nineteen
          우린 제법 어울리고 또 멋져
          좋아 첫 눈에 반해 버린
          네가 자꾸만 생각나
          내 방식대로 갈래
          빨-빨-빨간 맛, 궁금해 honey
          깨물면 점점 녹아든 strawberry 그 맛
          일곱 개의 무지갯빛 문을 열어
          너의 세상은 짜릿해 멋있어, mmh
        </div>
  
        <!--답변-->
        <div class="answer">
          <div><i class="far fa-comment-dots" fa-10x></i> 답변 7</div>
          <div class="solve">해결 중</div>
        </div>
      </div>
    </a>
  </div>
  <button class="qnabtn" onclick="location.href='{% url 'qnaWrite' %}'">질문하기</button>
</div>

  

  
  <div class="nav-bottom">
    <button class="create-btn" onclick="location.href='{% url 'index' %}'">>
      <span>
        < </span>
    </button>
    <ul class="nav-bottom-real">
      <li class="nav-bottom-active">
        <div class="selected-mark"></div>
        <span>10th</span>
      </li>
      <li class="nav-bottom-inactive"><span>9th</span></li>
      <li class="nav-bottom-inactive"><span>8th</span></li>
      <li class="nav-bottom-inactive"><span>7th</span></li>
      <li class="nav-bottom-inactive"><span>6th</span></li>
      <li class="nav-bottom-inactive"><span>5th</span></li>
      <li class="nav-bottom-inactive"><span>4th</span></li>
      <li class="nav-bottom-inactive"><span>3rd</span></li>
      <li class="nav-bottom-inactive"><span>2nd</span></li>
      <li class="nav-bottom-inactive"><span>1st</span></li>
    </ul>
  </div>

</div>
{% endblock %}