{% extends 'write-nav.html' %}
{% load static %}

<script src="{% static 'js/session-write.js' %}" ></script>
{% block link %}
<link rel="stylesheet" href="{% static 'css/session-write.css' %}">
<script type="text/javascript" src="{% static 'js/session-write.js' %}" ></script>
{% endblock %}

{% block content %}
<form method="POST" id="done">
  {% csrf_token %}
  <div class = "divupload">
    <label for="file_name" class="file">
      <i class="fas fa-camera fa-7x"></i>
    </label>
  </div>

  <!--Input태그 입력-->
  <input type="text" class="write_input" name="title" placeholder="세션 제목">
  <input type="text" class="write_input_last" name="content" placeholder="내용"><br>

</form>
{% endblock %}