{% extends 'menu-nav.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/session.css' %}">
{% endblock %}

{% block content %}
<div class="title">효율적인 프로젝트 관리와 유저 기능 구현</div>

<div class="container">
  <img src="https://i.pinimg.com/originals/c3/2b/da/c32bdaaa440eff8be24d5b25b05fb113.jpg">
  <img
    src="https://t1.daumcdn.net/thumb/R720x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/7upb/image/4r8RrHruiCoLCysl0n0k6i6aeyY.jpg">
  <img src="http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/081/229/812/81229812_1560925543651_1_600x600.JPG">
  <img src="https://cdn.crowdpic.net/list-thumb/thumb_l_7D4C30C449E4E02ABE76C0E4DAC991AA.jpg">
  <img src="https://d2uh4olaxaj5eq.cloudfront.net/fit-in/0x1080/31847cfa-8869-4d3c-8b51-6735d5f072e3.jpg">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_c2SNehSQ-NwlLeJibVyS2zbooq2UeWRAzA&usqp=CAU">
</div>

<button class="writing">+</button>

<div class="nav_bottom">
  <i class="fas fa-angle-double-left fa-10x"></i>
  <div class="nave_bottom_real">
    <div class="nav_bottom_active">10th</div>
    <div class="nav_bottom_inactive">9th</div>
    <div class="nav_bottom_inactive">8th</div>
    <div class="nav_bottom_inactive">7th</div>
    <div class="nav_bottom_inactive">6th</div>
    <div class="nav_bottom_inactive">5th</div>
    <div class="nav_bottom_inactive">4th</div>
    <div class="nav_bottom_inactive">3th</div>
    <div class="nav_bottom_inactive">2th</div>
    <div class="nav_bottom_inactive">1th</div>
  </div>
</div>
{% endblock %}