@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.notice-post {
  width: 960px;
  padding: 30px;
  background: #f8f8fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notice-post > .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.notice-post > .content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.notice-post > .writer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #767676;
  text-align: right;
}
