@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.login-alarm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* top: 56px; */
  left: calc(50vw - 280px);
  width: 560px;
  height: 140px;
  border-radius: 66px;
  background-color: white;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
  /* animation */
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  0% {
    top: -200px;
  }
  50% {
    top: 56px;
  }

  100% {
    top: -200px;
  }
}

.login-alarm img {
  width: 64px;
  margin-right: 24px;
}

.login-alarm .greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-alarm .greeting .uni {
  margin-right: 32px;
  font-size: 32px;
  font-weight: 800;
  font-family: "Roboto", "Nanum Gothic", sans-serif;
  color: #ff9e1b;
}

.login-alarm .greeting .st-info {
  font-size: 32px;
  font-weight: 500;
  font-family: "Roboto", "Nanum Gothic", sans-serif;
  color: #767676;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 250px);
  padding: 0 60px;
  margin-top: 100px;
}

.container .notice-post {
  box-sizing: border-box;
  width: 960px;
  padding: 20px 30px 10px 30px;
  margin-bottom: 55px;
  background: #f8f8fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .notice-post .title {
  font-family: "Roboto", "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #ff9e1b;
}

.container .notice-post .content {
  padding: 0 32px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 32px;
}

.container .notice-post .writer {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 16px;
  color: #767676;
  text-align: right;
}

.container .create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 80px;
  right: 36px;
  width: 140px;
  height: 140px;
  border-style: none;
  border-radius: 100px;
  background-color: black;
}

.container .create-btn span {
  font-size: 112px;
  font-family: "Nanum Gothic", sans-serif;
  color: white;
}
