@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.project-detail > .state {
  text-align: right;
  font-weight: bold;
  font-size: 32px;
  color: #ff0000;
  /* 추후에 js로 개발 현황에 따라 색상 변경할 것*/
}

.project-detail > img {
  width: 960px;
  height: 960px;
}

.project-detail > h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
}

.project-detail > p {
  font-family: Roboto;
  font-size: 36px;
}
