@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 100px;
  height: 77vh;
  z-index: 0;
}
.container .project-post {
  width: 960px;
  height: 800px;
  margin-left: 60px;
  background: #f8f8fa;
  box-shadow: 0 10px 10px -10px black;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  z-index: 0;
}

.container .project-post img {
  height: 520px;
  z-index: 0;
}

.container .project-post .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fe931b;
  margin-top: 20px;
  margin-left: 40px;
  z-index: 0;
}

.container .project-post .content {
  font-family: "Roboto";
  font-size: 28px;
  margin-left: 40px;
  margin-top: 5px;
  z-index: 0;
}

.container .project-post .status_dev {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #0038ff;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.container .project-post .status_compl {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: red;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.writing {
  width: 140px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  border: none;
  color: white;
  margin-top: -89px;
  margin-left: 920px;
  font-size: 130px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  text-align: center;
  z-index: 1;
}

.nav-bottom {
  margin-left: 40px;
}

.nav-bottom .create-btn {
  display: inline-block;
  position: relative;
  top: 90px;
  width: 140px;
  height: 140px;
  padding-right: 20px;
  border-style: none;
  border-radius: 100px;
  background-color: black;
}

.nav-bottom .create-btn span {
  font-size: 80px;
  font-family: "Nanum Gothic", sans-serif;
  color: white;
}

.nav-bottom .nav-bottom-real {
  position: relative;
  left: 200px;
  bottom: 60px;
  width: calc(100vw - 260px);
  padding-left: 0;
  white-space: nowrap;
  overflow-x: auto;
  list-style: none;
}

.nav-bottom .nav-bottom-real li {
  display: inline-block;
  width: 150px;
  height: 100px;
  margin-right: 4px;
  font-size: 48px;
  font-weight: bold;
  font-family: "Roboto";
  color: #767676;
}

.nav-bottom .nav-bottom-real li span {
  position: relative;
  top: 16px;
}

.nav-bottom .nav-bottom-real .nav-bottom-active span {
  color: black;
}

.nav-bottom .nav-bottom-real .nav-bottom-active .selected-mark {
  position: relative;
  left: 48px;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  background-color: black;
}
.container .create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 220px;
  right: 36px;
  width: 140px;
  height: 140px;
  border-style: none;
  border-radius: 100px;
  background-color: black;
}

.container .create-btn span {
  font-size: 112px;
  font-family: "Nanum Gothic", sans-serif;
  color: white;
}
