@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 100px;
  height: 79vh;
  z-index: 0;
}
.container .project-post {
  width: 960px;
  height: 800px;
  margin-left: 60px;
  background: #f8f8fa;
  box-shadow: 0 10px 10px -10px black;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  z-index: 0;
}

.container .project-post img {
  height: 520px;
  z-index: 0;
}

.container .project-post .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fe931b;
  margin-top: 20px;
  margin-left: 40px;
  z-index: 0;
}

.container .project-post .content {
  font-family: "Roboto";
  font-size: 28px;
  margin-left: 40px;
  margin-top: 5px;
  z-index: 0;
}

.container .project-post .status_dev {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #0038ff;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.container .project-post .status_compl {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: red;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.writing {
  width: 140px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  border: none;
  color: white;
  margin-top: -89px;
  margin-left: 920px;
  font-size: 130px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  text-align: center;
  z-index: 1;
}

.nav_bottom {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-self: center;
}

.nav_bottom .nav_bottom_real {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  align-content: center;
  text-align: center;
}
.nav_bottom .nav_bottom_real .nav_bottom_inactive {
  width: 150px;
  height: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  font-family: roboto;
  font-size: 60px;
  font-weight: bold;
  color: #767676;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  line-height: 150px;
}

.nav_bottom .nav_bottom_real .nav_bottom_active {
  width: 150px;
  height: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: bold;
  color: black;
  margin-left: 50px;
  text-emphasis-style: filled circle;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}
