@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  height: 1600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  z-index: 0;
}
.title {
  text-align: left;
  font-family: "Roboto";
  font-size: 96px;
  font-weight: bold;
  margin-top: 140px;
  margin-bottom: 84px;
  margin-left: 60px;
  margin-right: 60px;
}

img {
  width: 960px;
  height: 553px;
  margin-left: 60px;
  margin-bottom: 30px;
  z-index: -1;
}

.nav_bottom {
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nave_bottom_real {
  height: 320px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.nav_bottom_inactive {
  width: 150px;
  height: 250px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  font-family: roboto;
  font-size: 60px;
  font-weight: bold;
  color: #767676;
  margin-left: 50px;
}

.nav_bottom_active {
  width: 150px;
  height: 250px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: bold;
  color: ;
  margin-left: 50px;
  text-emphasis-style: filled circle;
}

.writing {
  width: 140px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  border: none;
  color: white;
  z-index: 1;
  margin-top: -89px;
  margin-left: 920px;
  font-size: 130px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
