@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 48px;
  box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
}

.navbar .left i {
  font-size: 48px;
}

.navbar .center {
  margin-left: 80px;
  font-size: 48px;
  font-family: 'Roboto';
}

.navbar .right {
  border: none;
  background-color: white;
  font-size: 48px;
  font-weight: 800;
  font-family: 'Roboto';
  color: #ff9e1b;
}
