{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link rel="shortcut icon" href="http://www.google.com/s2/favicons?domain=https://www.likelion.net/">
  <link rel="stylesheet" href="{% static 'css/detail-nav.css' %}">
</head>

<body>
  <nav class="navbar">
    <div class="left">
      <i class="fas fa-arrow-left" onclick="history.back()"></i>
    </div>
    <span class="center">
      {% if request.resolver_match.url_name == 'qnaDetail' %}QnA{% endif %}
      {% if request.resolver_match.url_name == 'projectDetail' %}Project{% endif %}
    </span>
    <div class="right">
      <i class="fas fa-external-link-alt"></i>
      <i class="fas fa-ellipsis-v"></i>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>

</html>