{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>menu-nav</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/menu-nav.css' %}">
  {% block link %}
  {% endblock %}
</head>

<body>
  <nav class="navbar">
    <ul class="left">
      <li class="{% if request.resolver_match.url_name == 'notice' %}selected{% else %}unselected{% endif %}">
        <a href="{% url 'notice' %}">
          <span>Notice</span>
          <div class="{% if request.resolver_match.url_name == 'notice' %}selected{% else %}unselected{% endif %}"></div>
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'session' %}selected{% else %}unselected{% endif %}">
        <a href="{% url 'session' %}">
          <span>Session</span>
          <div class="{% if request.resolver_match.url_name == 'session' %}selected{% else %}unselected{% endif %}"></div>
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'qnaMain' %}selected{% else %}unselected{% endif %}">
        <a href="{% url 'qnaMain' %}">
          <span>QnA</span>
          <div class="{% if request.resolver_match.url_name == 'qnaMain' %}selected{% else %}unselected{% endif %}"></div>
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'projectMain' %}selected{% else %}unselected{% endif %}">
        <a href="{% url 'projectMain' %}">
          <span>Project</span>
          <div class="{% if request.resolver_match.url_name == 'projectMain' %}selected{% else %}unselected{% endif %}"></div>
        </a>
      </li>
    </ul>
    <div class="right">
      <i class="far fa-bell"></i>
      <i class="fas fa-bars"  onclick="alert('🦁CommLion 제작 🦁 \n 🎨 멋사 8기 김동현 \n 🎀 멋사 8기 박지은 \n 💡 멋사 9기 성규동 \n 🎹 멋사 9기 양소열');"></i>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>

</html>